@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* https://css-tricks.com/snippets/css/fluid-typography/
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}*/

html {
  /* 字間にゆとりを持たせる */
  letter-spacing: .1em;
  /*/ 文字の均等割り付けをデフォルトにする
  // text-align: justify;*/
  /* レスポンシブフォントサイズ */
  font-size: calc(100vmin / 32.5);
  /* 日本語フォント指定 */
  font-family: 'IPAゴシック','IPAGothic','メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
}

body {
   /* background-color: black; */
   @apply bg-gray-100;
}
input[type=text], input[type=search], textarea, button {
  @apply appearance-none border-none rounded bg-transparent font-bold outline-none;
  transition: all 0.3s ease-in-out;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.65);
}
input[type=text], input[type=search], textarea {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.2);
}
input[type=text]:focus, input[type=search]:focus, textarea:focus {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.2);
}
button {
  @apply py-2 px-4 w-full rounded shadow mb-1;
  /*box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.2);*/
}
button:hover, button:active, button:focus,
.card:hover, .card:active, .card:focus,
.icon:hover, .icon:active, .icon:focus {
  @apply shadow-sm;
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(255, 255, 255, 0.25);
}
.card {
  @apply shadow rounded p-2 px-4 mb-1 flex flex-col text-sm relative;
}
.card .icon {
  @apply absolute bottom-0 right-0 font-bold rounded-full w-5 h-5 text-center bg-gray-500 text-gray-100;
}
.card-group {
  @apply p-2 rounded shadow-xs mx-1;
  min-height: 20rem;
}
.card-group-header {
  @apply relative;
}
.card-group-header .title {
  color: rgba(255, 255, 255, 0.75);
}
.card-group-header .icon {
  @apply absolute top-0 right-0;
  color: rgba(255, 255, 255, 0.75);
}
.board {
  @apply flex flex-row p-2;
}
.slide {
  @apply shadow rounded p-2 px-4 mb-1 flex flex-col;
}
.slide-title {
  @apply relative;
}
.slide-title .icon {
  @apply absolute top-0 right-0 rounded-full w-6 h-6 text-center;
}
.table {
  @apply p-2 grid grid-cols-8 gap-1;
}
.top-right {
  @apply absolute top-0 right-0 pr-2 pt-2;
}
h1 { @apply text-2xl; }
h2 { @apply text-xl; }
h3 { @apply text-lg; }
h4 { @apply text-base; }
h5 { @apply text-sm; }
a { @apply underline text-blue-600; }
a:visited { @apply underline text-purple-600; }
.v--modal-overlay {
  backdrop-filter: blur(7px) !important;
  background: rgba(255, 255, 255, 0.1) !important;
}
.v--modal {
  background: rgba(255, 255, 255, 0.95) !important;
}
@media (prefers-color-scheme: light) {
  /* light mode */
}
@media (prefers-color-scheme: dark) {
  /* dark mode */
}